<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.goldtime.monitoring-reconnect</string>
	</array>
	<key>GADDelayAppMeasurementInit</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>관련성 높은 광고를 보여주는 데 활용됩니다.</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7955752005034474~1325273697</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
